<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Search for movies!</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/website.css">
  </head>
  <body>

    <div class="navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-film"></span> My Movie Database</a>
        </div>
      </div>
    </div>

    <div class="navigational-container"><!-- Spans the whole width -->
      <div class="container">
        <div class="row navigational-row">

          <a href="/">
            <div class="col-md-4 text-center selection-col">
              <p><span class="glyphicon glyphicon-home"></span> Home</p>
            </div>
          </a>

          <a href="/search">
            <div class="col-md-4 text-center selection-col">
              <p><span class="glyphicon glyphicon-search"></span> Search</p>
            </div>
          </a>

          <a href="/add">
            <div class="col-md-4 text-center selection-col">
              <p><span class="glyphicon glyphicon-hdd"></span> Add</p>
            </div>
          </a>

        </div>
      </div>
    </div>

<!--     <div class="navigational-container">
      <div class="container">
        <div class="row navigational-row">

          <a href="/add">
            <div class="col-md-4 text-center selection-col">
              <p>Add</p>
            </div>
          </a>

          <a href="/search">
            <div class="col-md-4 text-center selection-col">
              <p></p>
            </div>
          </a>

          <a href="/queue">
            <div class="col-md-4 text-center selection-col">
              <p></p>
            </div>
          </a>

        </div>
      </div>
    </div> -->